body {
  padding: 1em;
  background-color: #000;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0;
  padding: 0;

}

h1 {
  font-size: 180%;
  color: #ccc;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 120%;
  color: #999;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 100%;
  color: #999;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

#canvas-container {
  margin-left: 10px;
  text-align: center;
}

#info-container {
  text-align: center;
  margin-left: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 3px dashed #666;
}

.image-data {
  display: none;
}
