body {
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0;
  padding: 0;

}

h1 {
  font-size: 180%;
  color: #333;
}

h2 {
  font-size: 120%;
  color: #666;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 100%;
  color: #999;
}

#canvas-container {
  float: left;
  margin-left: 20px;
  padding-right: 10px;
  border-right: 3px dashed #ccc;
}

#info-container {
  float: left;
  margin-left: 10px;
}
